<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcompanion">

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCompanion">
        <activity android:name=".SleepActivity"></activity>
        <activity android:name=".WaterSchedule" />
        <activity android:name=".WaterActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".IndividualDayDisplay" />
        <activity android:name=".AllDaysSteps" />

        <service android:name=".StepsService" />
        <service android:name=".WaterService" />
        <service android:name=".SleepService"/>
        <service android:name=".SleepServiceCancel"/>

        <receiver android:name=".WaterNotificationReciever" />
        <receiver android:name=".SleepNotificationReciever"/>

        <activity android:name=".Pedometer" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Dashboard" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>